body, html {
  background-color: #b0edf5;
}
h1 {
  color: #FF9B42;
  font-size: 36px;
}
nav {
  position: fixed;
  font-family: sans-serif;
  background-color: #254E70;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
nav a {
  color: #FFF;
  font-size: 19px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 80px;
  margin-right: 80px;
  display: inline-block;
}
nav ul {
  text-decoration: none;
  list-style-type: circle;
  list-style-position: inside
}
nav ul li {
  text-decoration: none;
  display: inline-block;
}
